.img {
  height: 80rem;
  width: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  font-weight: lighter;
}

.logo span {
  font-weight: 500;
  font-size: 8rem;
}
